<div>
    <h1>Registro</h1>
    <!-- <form>
        <div>
            <p>
                Nombre:
            </p>
            <input type="text"  id="nombre" required [(ngModel)]='registro.nombre'>
        </div>
        <div>
            <p>
                Nombre de Usuario:
            </p>
            <input type="password"  id="password" required [(ngModel)]='registro.loginuser'>
        </div>
        <div>
            <p>
                Password:
            </p>
            <input type="password"  id="password" required [(ngModel)]='registro.password'>
        </div>

        <button type="submit" (onclick)="enviar()">Enviar</button>
        
    </form> -->

</div>