<ng-container *ngIf="carrito.length!=0; else sinCarrito">
    <table>
        <th>Profesor</th>
        <th>Actividad</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Eliminar</th>
        <tr *ngFor="let sesion of carrito; index as i">
            <td> {{sesion.kiTituloProfesor}} </td>
            <td> {{sesion.ksActividad}} </td>
            <td> {{sesion.kiFecha}} </td>
            <td> {{sesion.aiPrecio}} </td>
            <td> <button class="btn btn-primary" (click)="borrarSesion(sesion.ksCodigo)">{{sesion.ksCodigo}}</button></td>
        </tr>
    </table>
</ng-container>
<ng-template #sinCarrito>
    <h3>No hay elementos para mostrar</h3>
</ng-template>