<p *ngIf="showAdmin" routerLink="/pagadmin">
    Pagina Admin
</p>
<p *ngIf="showProfe" routerLink="/pagprofe">
    Pagina Profesores
</p>
<p *ngIf="showAlumno" routerLink="/pagalumno">
    Pagina Alumnos
</p>
<p *ngIf="registrado" routerLink="/turegistro">
    Tu registro
</p>
<p routerLink="/listaprofes">
    Ver profesores
</p>
<p routerLink="/listaclases">
    Ver clases
</p>
<p routerLink="/merchandising">
    Merchandising
</p>
<p routerLink="/competiciones">
    Competiciones
</p>
<p routerLink="/help">
    Ayuda
</p>