<h1>ATENCION</h1><h3>Esto se trata solo de un panel informativo, las inscripciones a las competiciones están desabilitadas por el momento</h3>
<p>Buscar : <input type="text" name="filtro" (keyup)="filtrar($event)">. (Ten en cuenta que buscara por <strong>Nombre, Ubicacion y Gimnasio.)</strong> </p>
<button class="btn btn-primary" (click)="ordenarNombre()">Ordenar por nombre</button>
<button class="btn btn-primary" (click)="ordenarUbicacion()">Ordenar por ubicacion</button>
<button class="btn btn-primary" (click)="ordenarGimnasio()">Ordenar por gimnasio</button>
<button class="btn btn-primary" (click)="ordenarPrecio()">Ordenar por precio</button>



 <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Disponible</th>
        <th scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col" sortable="ubicacion" (sort)="onSort($event)">Ubicacion</th>
        <th scope="col" sortable="gimnasio" (sort)="onSort($event)">Gimnasio</th>
        <th scope="col" sortable="coste" (sort)="onSort($event)">Coste</th>
        <th scope="col">Inscripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competicion of listaCompeticiones">
        <th>
          <ng-container *ngIf="competicion.cbDisponible; else elseTemplate">
            <input type="checkbox" checked disabled>
          </ng-container>
          <ng-template #elseTemplate>
            <input type="checkbox" disabled>
          </ng-template>
        </th>
          
        <td>{{ competicion.asNombre }}</td>
        <td>{{ competicion.kiFecha }}</td>
        <td>{{ competicion.asUbicacion }}</td>
        <td>{{ competicion.asGimnasio }}</td>
        <td>{{ competicion.aiCoste | currency:"EUR" }}</td>
        <td> <button disabled class="btn btn-primary">Inscribete</button></td>

      </tr>
    </tbody>
    <!-- (click)="mostrarDetalles(competicion.kiCodigo)" -->
</table>