<p>Buscar : <input type="text" name="filtro" (keyup)="filtrar($event)">. (Ten en cuenta que buscara por <strong>Nombre, Ubicacion y Gimnasio.)</strong> </p>

 <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Disponible</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Gimnasio</th>
        <th scope="col">Coste</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competicion of listaCompeticiones">
        <th>
          <ng-container *ngIf="competicion.cbDisponible; else elseTemplate">
            <input type="checkbox" checked disabled>
          </ng-container>
          <ng-template #elseTemplate>
            <input type="checkbox" disabled>
          </ng-template>
        </th>
        
        <td>{{ competicion.asNombre }}</td>
        <td>{{ competicion.kiFecha }}</td>
        <td>{{ competicion.asUbicacion }}</td>
        <td>{{ competicion.asGimnasio }}</td>
        <td>{{ competicion.aiCoste | currency }}</td>
      </tr>
    </tbody>
</table>
  