

<select name="profesores" id="profesores" (onchange="buscarProfe($event)")>
    <option value="predefinido">-------</option>
    <option value={{profesor.kiTitulo}} *ngFor="let profesor of listaProfes" *ngIf="isProfesorSeleccionado(profesor.kiTitulo)">{{profesor.asNombre}}</option>
</select>

<select name="actividades" id="actividades" (onchange="buscarActividad($event)")>
    <option value="predefinido">-------</option>
    <option value={{actividad.ksNombre}} *ngFor="let actividad of listaActividades" *ngIf="isActividadSeleccionada(actividad.ksNombre)">{{actividad.ksNombre}}</option>
</select>

